/aikataulu.json
/coronapi.json
/demo.html
/demo.js
/demo.json
/demo2.html
/demoapp.html
/demoapp.js
/demosite
/demosite (5).zip
/diff-app
/ekajs.html
/Git (1).docx
/js1.docx
/js1.pdf
/kalvot
/main.js
/node.js
/owm
/skriptit.js
/Testaus.pptx
/todolist.html
/tuntidemo.html
/tyhja.html
/weatherdata.json
/webdev-intro.pdf
/webdev-intro.pptx